<!-- 轮播图 -->
<!-- <div ng-controller='slideController'>
    <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;">
            <div class="carousel-caption">
                <p>{{slide.text}}</p>
            </div>
        </slide>
    </carousel>
</div> -->
<div class='home-container' ng-controller='nameController'>
<p>{{firstName}}</p>
</div>
<div class='home-container' ng-controller='abcController'>
<p>{{firstName}}</p>
</div>
  